<style>
  table {
    width: 40%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #444444;
    text-align: left;
    padding: 8px;
    color: #f0f0f0;
  }

  th {
    background-color: #333333;
  }

  tr:nth-child(even) {
    background-color: #222222;
  }

  tr:nth-child(odd) {
    background-color: #1a1a1a;
  }

  tr:hover {
    background-color: #555555;
  }
</style>

<table id="<%= dom_id cost %>">
  <tr>
    <th>Audit local</th>
    <td><%= cost.audit_local %></td>
  </tr>
  <tr>
    <th>Audit stage</th>
    <td><%= cost.audit_stage %></td>
  </tr>
  <tr>
    <th>Audit year</th>
    <td><%= cost.audit_year %></td>
  </tr>
  <tr>
    <th>Man days</th>
    <td><%= cost.man_days %></td>
  </tr>
  <tr>
    <th>Md cost</th>
    <td><%= cost.md_cost %></td>
  </tr>
  <tr>
    <th>Fee</th>
    <td><%= cost.fee %></td>
  </tr>
  <tr>
    <th>Travel expenses</th>
    <td><%= cost.travel_expenses %></td>
  </tr>
  <tr>
    <th>Total cost</th>
    <td><%= cost.total_cost %></td>
  </tr>
</table>
