<div id="<%= dom_id cost %>">
  <p>
    <strong>Audit local:</strong>
    <%= cost.audit_local %>
  </p>

  <p>
    <strong>Audit stage:</strong>
    <%= cost.audit_stage %>
  </p>

  <p>
    <strong>Audit year:</strong>
    <%= cost.audit_year %>
  </p>

  <p>
    <strong>Man days:</strong>
    <%= cost.man_days %>
  </p>

  <p>
    <strong>Md cost:</strong>
    <%= cost.md_cost %>
  </p>

  <p>
    <strong>Fee:</strong>
    <%= cost.fee %>
  </p>

  <p>
    <strong>Travel expenses:</strong>
    <%= cost.travel_expenses %>
  </p>

  <p>
    <strong>Total cost:</strong>
    <%= cost.total_cost %>
  </p>

  <p>
    <strong>Proposal:</strong>
    <%= cost.proposal %>
  </p>

</div>
