<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= company.address %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= company.cnpj %>
  </p>

  <p>
    <strong>Employees number:</strong>
    <%= company.employees_number %>
  </p>

  <p>
    <strong>Scope:</strong>
    <%= company.scope %>
  </p>

  <p>
    <strong>Contact person:</strong>
    <%= company.contact_person %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= company.email %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= company.telephone %>
  </p>

</div>
