<div id="<%= dom_id proposal %>" style="padding-left: 10px">
  
  <p>
    <strong>Title:</strong>
    <%= proposal.title %>
  </p>

  <p>
    <strong>Audit standard:</strong>
    <%= proposal.audit_standard %>
  </p>

  <p>
    <strong>Accreditation:</strong>
    <%= proposal.accreditation %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= proposal.company.name %>
  </p>

</div>
