<div id="<%= dom_id proposal %>">
  <p>
    <strong>Title:</strong>
    <%= proposal.title %>
  </p>

  <p>
    <strong>Audit standard:</strong>
    <%= proposal.audit_standard %>
  </p>

  <p>
    <strong>Accreditation:</strong>
    <%= proposal.accreditation %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= proposal.company %>
  </p>

</div>
