<%= render "nav" %>
<p style="color: green"><%= notice %></p>
<%= link_to "New proposal", companies_path, class: 'btn btn-primary',
data: {turbo_method: :get, turbo_confirm: "Select a company to create a proposal." },
style:"margin-left: 10px;" %>
<hr>
<div id="proposals" style="padding-left: 10px;">
  <% @proposals.each do |proposal| %>
    <%= render proposal %>
    <p>
      <%= link_to "Show this proposal", proposal %>
    </p>
  <% end %>
</div>